<header class="box-header">
  <img src="assets/briefcase.png" class="box-header-image">
  <h2>Recent transactions</h2>
</header>
<div class="box-content">
  <div class="control-bar">
    <div class="filter-bar">
      <input id="filter" [(ngModel)]="filterValue" class="field-input" placeholder="Search by typing">
      <button class="clear-button" (click)="clearFilter()">&times;</button>
    </div>
    <div class="sort-bar">
      <div>Sort by &nbsp;</div>
      <button
        [attr.activeSort]="SortField.DATE == sortField"
        (click)="sortBy(SortField.DATE)"
        [attr.sortOrder]="sortOrder">
          Date
      </button>
      <button
        [attr.activeSort]="SortField.BENEFICIARY == sortField"
        (click)="sortBy(SortField.BENEFICIARY)"
        [attr.sortOrder]="sortOrder">
          Beneficiary
      </button>
      <button
        [attr.activeSort]="SortField.AMOUNT == sortField"
        (click)="sortBy(SortField.AMOUNT)"
        [attr.sortOrder]="sortOrder">
          Amount
      </button>
    </div>
  </div>

  <table class="transactions">
    <tbody>
      <tr *ngFor="let transaction of filteredTransactions">
        <td class="transaction-category" [ngStyle]="{'background-color': transaction.categoryCode}">&nbsp;</td>
        <td class="transaction-date">{{transaction.date | date:'MMM d'}}</td>
        <td class="transaction-image"><img width="32px" src="{{transaction.beneficiary | beneficiaryImage}}" appHandleNoImage></td>
        <td class="transaction-info">
          <div class="transaction-beneficiary">{{transaction.beneficiary}}</div>
          <div class="transaction-payment-type">{{transaction.type}}</div>
        </td>
        <td class="transaction-amount">{{transaction.amount | amountCurrency}}</td>
      </tr>
    </tbody>
  </table>
</div>
