@import "../../../scss/variables.scss";

:host {
  width: 500px;
  min-width: 400px;
  max-width: 500px;
}

.control-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter-bar {
  margin-bottom: 10px;
  margin-right: 10px;
}

.clear-button {
  background: none;
  border: none;
  position: relative;
  left: -20px;
  color: orange;
}

.sort-bar {
  display: flex;
}

button {
  padding: 5px 10px 5px 10px;
  text-transform: uppercase;
  border: 1px solid #c4c4c4;
}

button[activeSort=true] {
  border: 2px solid teal;
}


button[activeSort=true][sortOrder=desc]::after {
  content: " ▼";
}

button[activeSort=true][sortOrder=asc]::after {
  content: " ▲";
}



/*
Transfers table
*/

@mixin table-fixed-col($width) {
  min-width: $width;
  max-width: $width;
  width: $width;
}

@mixin table-col {
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  padding: 5px;
}

.transactions {
  width: 100%;
  margin-top: 20px;
  border-spacing: 0px;
}

.transaction-category {
  @include table-col();
  @include table-fixed-col(4px);
  background: red;
}

.transaction-date {
  @include table-col();
  @include table-fixed-col(50px);
  border-top: solid 1px lightgray;
}

.transaction-image {
  @include table-col();
  @include table-fixed-col(50px);
}

.transaction-info {
  @include table-col();
  width: auto;
}

.transaction-amount {
  @include table-col();
  @include table-fixed-col(100px);
  text-align: right;
  border-right: solid 1px lightgray;
}

.transaction-payment-type {
  font-size: 8pt;
}

@media (max-width: $treshold-width) {

}
