@import "../scss/variables.scss";

.header {
  background-color: white;
  border-bottom: solid 5px orange;
  padding: 10px 10px 10px 60px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content > * {
  background-color: white;
  margin: 20px;
  border: solid 1px gray;
  // width: 250px;
}

@media (max-width: $treshold-width ) {
  .header {
    padding-left: 5px;
  }
  .content {
    flex-direction: column;
    align-items: stretch;
  }
  .content > * {
    width: inherit;
    max-width: inherit;
  }
}
