:host {
  min-width: 230px;
  max-width: 230px;
}

.submit-button {
  background-color: orange;
  width: 110px;
  height: 30px;
  border: none;
  margin: 5px;
  align-self: flex-end;
}

.message-line {
  color: red;
  height: 2em;
}

input:required {
  box-shadow: none;
}
