<header class="box-header">
  <img src="assets/arrows.png" class="box-header-image">
  <h2>Make a transfer</h2>
</header>

<div class="box-content" *ngIf="!previewMode">
  <div class="field">
    <label for="fromAccount" class="field-label">From account</label>
    <input id="fromAccount" class="field-input" disabled value="Free checking(4692) - {{ balance | amountCurrency }}">
  </div>
  <div class="field">
    <label for="toAccount" class="field-label">To account</label>
    <input id="toAccount" class="field-input" [(ngModel)]="beneficiary" required placeholder="Beneficiary">
  </div>
  <div class="field">
    <label for="amount" class="field-label">Amount</label>
    <input id="amount" class="field-input" [(ngModel)]="amount" type="number" inputmode="numeric" placeholder="0.00">
  </div>
  <div class="message-line">
    {{message}}
  </div>
  <button class="submit-button" (click)="submit()">Submit</button>
</div>

<app-preview-panel
  *ngIf="previewMode"
  [beneficiary]="beneficiary"
  [amount]="amount"
  [balance]="balance"
  (cancel)="cancel()"
  (transfer)="transfer()"
></app-preview-panel>
