/* You can add global styles to this file, and also import other style files */

* {
  margin: 0px;
  padding: 0px;
}

.page {
  background-image: url('assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  font: normal 10pt 'Kanit', sans-serif;
}

.box-header {
  background-color: rgb(12, 131, 151);
  padding: 5px;
  display: flex;
  color: white;
  align-items: center;
  font-size: small;
  font-weight: 100;
}

.box-content {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.box-header-image {
  width: 20px;
  height: 18px;
  margin-right: 30px;
}

.box-header-title {
  flex-grow: 1;
}

.field {
  display: flex;
  flex-direction: column;
}

.field-label {
  text-transform: uppercase;
  padding: 5px;
  font-size: 10pt;
}

.field-input {
  border: none;
  border-bottom: solid 2px lightgray;
  background: none;
  padding: 5px;
  font-size: 10pt;
}

.field-input:focus {
  border-bottom-color: darkgray;
}


/*
Unified number inputs. It hides small increase/decrease buttons.
*/

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
