:host {
  min-width: 230px;
  max-width: 230px;
}

.button-line {
  display: flex;
  justify-content: right;
}
.button {
  background-color: orange;
  width: 110px;
  height: 30px;
  border: none;
  margin: 5px;
}

.preview-label {
  color: black;
  font-size: 12pt;
  font-weight: 400;
}

.preview-value {
  color: lightgray;
  font-size: 12pt;
  font-weight: 400;
  margin-bottom: 10px;
}
