<div class="box-content">
  <div class="preview-label">From account</div>
  <div class="preview-value">Free checking(4692)</div>

  <div class="preview-label">To account</div>
  <div class="preview-value">{{beneficiary}}</div>

  <div class="preview-label">Amount</div>
  <div class="preview-value">{{displayedAmount | amountCurrency}}</div>

  <div class="preview-label">New balance</div>
  <div class="preview-value">{{newBalance | amountCurrency}}</div>

  <div class="button-line">
    <button class="button" (click)="cancel.emit()">Cancel</button>
    <button class="button" (click)="transfer.emit()">Transfer</button>
  </div>
</div>
